*,*::before,*::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;  
}
html, body{ 
  width: 100%;
  height: 100%;  
  font-weight: bold;
} 
body{
  height: 635px;  
  width: 100%;
  background-image: url(surreal-neon-tropical-flowers.jpg);
  background-repeat: no-repeat;
  background-size: cover;  

  
}  
.wrapper{
  position: relative;
  width: 100%;
  height:100%;
  overflow: hidden;
}   
.wrapper video{
  position: absolute;
  background-position: top;
  top: -20%;
  left: 0;
  width: 100%;
  height: 100%;
}
.wrapper h1{
  width:100%;
  height: 100%;
  margin: 0;
  font-family: "Barlow Condensed", sans-serif;
  background-color: #fff;
  mix-blend-mode: screen;
  text-align: center;
  text-transform: uppercase;
  font-size: 8.4rem;
}
